
<section class="vh-100" style="background-color: #4B515D;">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">

            <h3 class="mb-4 pb-2 fw-normal">Check the Current Weather</h3>

            <form action="/" method="post">
            <div class="input-group rounded mb-3">
            <input name="city" type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                aria-describedby="search-addon" />
            <button type="submit" class="input-group-text border-0 fw-bold" id="search-addon">Serach</button>
            {{#if cityError}}
            <label class="text-danger">{{cityError}}</label>
            {{/if}}
            </div>
            </form>

            <div class="d-flex mt-5">
              <h6 class="flex-grow-1">{{city}}, {{code}}</h6>
              <h6>{{formattedDate}}</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-5">
              <h6 class="display-4 mb-4 font-weight-bold" style="color: #1C2331;"> <i class='fas fa-temperature-high'> {{temperature}}°C</i> </h6>
              
              <span class="small mb-2" style="color: #868B94">{{desc}}</span>
              <span class="small" style="color: #868B94">{{weather}}</span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem;">
                <div><i class="fas fa-wind fa-fw" style="color: #868B94;"></i> <span class="ms-1">Wind Speed - {{wind}}km/h
                  </span></div>
                <div> <span class="ms-1"></span>
                </div>
                <div><i class="fas fa-sun fa-fw" style="color: #868B94;"></i> <span class="ms-1">Humidity - {{humidity}}% </span>
                </div>
              </div>
              <div>
                <i class="weather-icon custom-icon" id="weather-icon"></i>
              </div>
              <style>
                .custom-icon {
                    font-size: 100px; /
                }
              </style>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>

  <script>

  const temperature = {{temperature}};
  let iconClass;

  if (temperature >= 30) {
    iconClass = "fas fa-sun";
  } else if (temperature >= 20 && temperature < 30) {
    iconClass = "fas fa-cloud-sun";
  } else if (temperature >= 10 && temperature < 20) {
    iconClass = "fas fa-cloud";
  } else if (temperature >= 0 && temperature < 10) {
    iconClass = "fas fa-smog";
  } else {
    iconClass = "fas fa-snowflake";
  }

  const weatherElement = document.querySelector(".weather-icon");
  weatherElement.innerHTML = `<i class="${iconClass}"></i>`;

  </script>
